<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-table-data *ngIf="data.length" [data]="data" [displayedColumns]="['select', '_id', 'month', 'year']"
                        (rowSelected)="selectStatement($event)" (rowDeleted)="deleteRow($event)"></app-table-data>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-table-data *ngIf="selectedStatement.length" [data]="selectedStatement" [enableDelete]="false"
                        [displayedColumns]="['description', 'category', 'amount']"></app-table-data>
    </mat-grid-tile>
</mat-grid-list>
