<mat-grid-list cols="3">
    <mat-grid-tile>
        <app-table-data *ngIf="data.length" [data]="data" [displayedColumns]="['select', '_id', 'month', 'year']"
                        (rowSelected)="selectStatement($event)" (rowDeleted)="deleteRow($event)"></app-table-data>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-table-data *ngIf="selectedStatement.length" [data]="selectedStatement" [enableDelete]="false"
                        [displayedColumns]="['description', 'category', 'amount']"></app-table-data>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="chartData.length">
        <canvas
                baseChart
                chartType="pie"
                [data]="chartData"
                [labels]="chartLabels"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="true">
        </canvas>
    </mat-grid-tile>
</mat-grid-list>
